@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
body{
    font-family: 'Fruktur', cursive;
    font-size: 1rem;
    background-color: antiquewhite;
}

header
{
    background-color: white;
}

button{
    padding: 8px;
    outline:none;
    cursor: pointer;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: antiquewhite;
}

button:hover{
    background-color: #4f4949;
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white;

}
.nav button{
    font-family: inherit;
}

.create-box{
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 0 2px 4px 0 #150606;
}

.create-box textarea {
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightblue;
}

.create-box button{
    width:fit-content;
}

.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.flashcard h2{
    font-size: 1rem;
}

@media (max-width: 768px) {
 .flashcards{
     margin: auto;
 }
    .flashcards{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .create-box{
        width: 100%;
    }
    .flashcards{
        width: 100%;
    }
}